@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.dbmshead {
    margin-top: 150px;
}

body {
    background-image: linear-gradient(to bottom right,rgb(38, 29, 96)60%, rgb(247, 75, 110));
    background-size: cover;
    background-position: center;
    color: #e4e4e4;
}

.btn2 {
    margin: 10px 0 30px;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px; 
}

.sif {
    position: absolute;
    top: 150px;
    left: 150px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
} 

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    color: #e4e4e4 ;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer ;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;

}

.signin {
    text-decoration: none;
    color: #e4e4e4;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 550px;
    background: url(image/laptop2.jpg) no-repeat;
    background-size : cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right,rgb(38, 29, 96)60%, rgb(247, 75, 110));
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);

}

.container .content 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 62%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.welcome-text h2{
    font-size: 30px;
    line-height: 1;
}

.welcome-text h2 span {
    font-size: 25px;
}

.welcome-text p {
    font-size: 16px;
    margin: 20px 0;
}

.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 62%);
    height: 100%;
    overflow: hidden;
}

.social-icons a i {
    font-size: 22p;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.logreg-box .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logreg-box .form-box.login {
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.login {
    transform: translateX(500px);
    transition-delay: 0s;
}

.logreg-box .form-box.register {
    transform: translateX(500px);
    transition: transform .6s ease;
    transition-delay: 0s;
}
.logreg-box.active .form-box.register {
    transform: translateX(0);
    transition-delay: .7s;
}

.logreg-box .form-box.forgot {
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.forgot {
    transform: translateX(500px);
    transition-delay: 0s;
}

.form-box h2 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}


.form-box .input-box {
    position: relative;
     width: 340px;
     height: 50px;
     border-bottom: 2px solid #e4e4e4;
     margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    background: transparent;
    border-width: 0;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 28px;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forgot {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
}

.remember-forgot a {
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.form-box .remember-forgot {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
}

.remember-forgot a {
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 50%;
    height: 50px;
    background: #c4103d;
    margin-left: 25%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.form-box .login-register {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25x;
}

.login-register p a {
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.exam {
    padding: 130px;
}

.button {
    display: flex;
    justify-content: center;
}

.button-69 {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;
}

.button-69:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .button-69 {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}